Let's import all the necessary modules here:

In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv("datasets/aviation-accident.csv")

Let's check if all column names are valid

#### Let's understand the features of this dataset:

In [3]:
data_frame.columns

Index(['date', 'type', 'registration', 'operator', 'fatalities', 'location',
       'country', 'cat', 'year'],
      dtype='object')

Let's see the data types for each feature.

In [4]:
data_frame.head()

,date,type,registration,operator,fatalities,location,country,cat,year
0,date unk.,Antonov An-12B,T-1206,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
1,date unk.,Antonov An-12B,T-1204,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
2,date unk.,Antonov An-12B,T-1201,Indonesian AF,NaN,NaN,Unknown country,U1,unknown
3,date unk.,Antonov An-12BK,NaN,Soviet AF,NaN,Tiksi Airport (IKS),Russia,A1,unknown
4,date unk.,Antonov An-12BP,CCCP-11815,Soviet AF,0,Massawa Airport ...,Eritrea,A1,unknown

Let's see the count of unique values within each feature.

In [7]:
for column in data_frame.columns:
    print("column: "+column)
    print(len(data_frame[column].unique()))

column: date
15056
column: type
3193
column: registration
21910
column: operator
5997
column: fatalities
370
column: location
14585
column: country
232
column: cat
11
column: year
106

We have a lot of NaN based data, it is very important that we discard samples with NaN values.

In [9]:
data_frame.shape

(23917, 9)

In [11]:
data_frame = data_frame.dropna()
data_frame.shape

(18543, 9)

Date has values "date unk.", country has "Unknown country", and year has "unknown" I shall drop any sample with such values:

In [13]:
data_frame = data_frame[data_frame["date"] != "date unk."]
data_frame = data_frame[data_frame["country"] != "Unknown country"]
data_frame = data_frame[data_frame['year'] != 'unknown']

In [14]:
data_frame.head()

,date,type,registration,operator,fatalities,location,country,cat,year
62,11-AUG-1919,Felixstowe Fury,N123,RAF,1,near Felixtowe RNAS,U.K.,A1,1919
63,23-FEB-1920,Handley Page O/7,G-EANV,Handley Page Transport,0,"Acadia Siding, C...",South Africa,A1,1920
64,25-FEB-1920,Handley Page O/400,G-EAMC,Handley Page Transport,0,near El Shereik,Sudan,A1,1920
65,30-JUN-1920,Handley Page O/400,G-EAKE,Handley Page Transport,0,ÃstanÃ¥,Sweden,A1,1920
66,14-DEC-1920,Handley Page O/400,G-EAMA,Handley Page Transport,4,Golders Green,U.K.,A1,1920

In [15]:
data_frame.shape

(18496, 9)

#### Featue Engineering:

Now let's start with the feature engineering tasks:

1.